body{
margin: 0;
padding: 0;
}

h1{
  font-size: 32px;
  text-align: center;
  line-height: 2;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; /* I don't need this  line*/
  margin: auto;
  width: 95vw;
}

div{
  overflow: hidden;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1 / -1;
}

/* Tablet layout */
/* Four equal columns using fr*/
/* Six rows of 350px and one of 100px*/
@media screen and (min-width: 600px){
  h1{
    text-transform: uppercase;
    color: #F00;
  }

  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 100px;
  }

  .img-three{
    grid-column: 1/span 2;
  }

  .img-six{
    grid-column: 1/span 2;
  }

  .img-seven{
    grid-row: 6/auto;
    grid-column: 1/span 2;
  }

  .img-eight{
    grid-column: 2/span 1;
  }

  .img-nine{
    grid-column: 1/span 1;
    grid-row: 5/auto;
  }
}

/* Desktop layout */
/* Four equal columns using fr*/
/* Five rows of 350px and one of 100px*/
@media screen and (min-width: 1000px){
  h1{
    text-transform: lowercase;
    color: #00F;
  }

  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 100px;
  }

  .img-one{
    grid-column: 3/ span 2;
  }

  .img-two{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }

  .img-three{
    grid-column: 3/ -1;
    grid-row: 2/ span 1;
  }

  .img-four{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
  }

  .img-five{
    grid-column: 1/span 1;
    grid-row: 3/ span 1;
  }

  .img-six{
    grid-column: 3/span 1;
    grid-row: 3/ span 1;
  }

  .img-seven{
    grid-column:2/span 2 ;
    grid-row: 4/span 2;
  }

  .img-eight{
    grid-column: 1/span 1;
    grid-row: 4/span 2;
  }

  .img-nine{
    grid-column: 4/span 1;
    grid-row: 3/ span 3;
  }

}
